{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<header class="masthead" style="background-image: url('image/banniere.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>BDiscute</h1>
            <span class="subheading">Blog de partage autour de la BD</span>
          </div>
        </div>
      </div>
    </div>
</header>

    <div class="container textCoupDeCoeur">
      <h3>Coups de coeur de la rentrée</h3>
    </div>

  <figure>
      {% for chronique in accueilChronique %}
        <div class="container chroniqueAccueil">
          <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-header">
              {{ chronique.Date |date }}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ chronique.titre }}</h5>
              <a href="{{ path("chronique", { id:chronique.id }) }}" class="btn btn-info">En savoir plus</a>
            </div>
          </div>
        </div>
    {% endfor %}
  </figure>
{% endblock %}

