{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <p>Accueil</p>
    {% for chronique in accueilChronique %}
        <div class="card">
            <div class="card-header">
                {{ chronique.Date |date }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ chronique.titre }}</h5>
                <a href="{{ path("chronique", { id:chronique.id }) }}" class="btn btn-primary">En savoir plus</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}

