{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<header class="masthead" style="background-image: url('image/banniere.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>BDiscute</h1>
            <span class="subheading">Blog de partage autour de la BD</span>
          </div>
        </div>
      </div>
    </div>
</header>

    {% for chronique in accueilChronique %}
        <div class="card">
            <div class="card-header">
                {{ chronique.Date |date }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ chronique.titre }}</h5>
                <a href="{{ path("chronique", { id:chronique.id }) }}" class="btn btn-primary">En savoir plus</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}

