{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div clas="row">
            <div class="col">
                <h3>{{ form_title }}</h3>
                {{ form(form_chronique) }}
            </div>
        </div>
    </div>
{% endblock %}