{% extends 'base.html.twig' %}

{% block title %}Hello ChroniqueController!{% endblock %}

{% block body %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('image/banniere.jpg')">
        <div class="overlay"></div>
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
                <h1>BDiscute</h1>
                <span class="subheading">Le Blog de discussion autour de la Bande Dessinnée</span>
            </div>
            </div>
        </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                    <a href="post.html">
                    {% for chronique in chroniqueBd %}
                        <h2 class="post-title">
                        {{ chronique.titre }}
                        </h2>
                        <h3 class="post-subtitle">
                        Découvrez mon avis sur ce Comics sans plus tarder !
                        </h3>
                        </a>
                        <p class="post-meta">{{ chronique.Date |date }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <hr>  
{% endblock %}
