{% extends 'base.html.twig' %}

{% block title %}Hello ChroniqueController!{% endblock %}

{% block body %}
    <p>accueil</p>
    <p>Bienvenue dans les chroniques !</p>
    {% for chronique in chroniqueBd %}
        <div class="card">
            <div class="card-header">
                {{ chronique.Date |date }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ chronique.titre }}</h5>
                <p class="card-text">{{ chronique.contenu }}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
